<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="public/css/index.css"/>
</head>
<body>
<div id="content">
    <div id="header">
        <a href="/">Projects</a>
        <a href="about.php">About me</a>
    </div>
    <div class="project-details-text">
        <h1 class="title">Hi! I'm Mitchel van Hamburg.</h1>
        <p>I'm an computer science student attending the Hogeschool Rotterdam in the Netherlands.<br/>
            Currently in my first year and still learning alot.<br/>
        </p>
    </div>
</div>
</body>
</html>