<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="public/css/index.css"/>
</head>
<body>
<div id="content">
    <div id="header">
        <a href="/">Projects</a>
        <a href="about.php">About me</a>
    </div>
    <h1>
        Error: {{ error_description }}
    </h1>
    <a href="/">Go back to the main page</a>
</div>
</body>
</html>
